* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.bg-loader{
    background-color: #EDB74D;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-loader .loader{
    width: 150px;
    height: 150px;
    border: 10px solid #fff;
    border-radius: 50%;
    border-top-color: white;
    border-right-color: #EDB74D;
    border-bottom-color: #EDB74D;
    animation: puterin .88888s linear infinite;
}

@keyframes puterin{
    100%{
        transform: rotate(360deg);
    }
}


.menu{
    background-color:#EDB74D;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.menu:after{
    content: '';
    display: block;
    clear: both;
    
}
.menu a img{
    width: 180px;
    padding: 0 40px;

}
.menu ul{
    float: right;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a{
    display: inline-block;
    padding: 30px 20px;
    font-family: 'Kanit';
    font-weight: bold; 
}
.menu ul li a:hover{
    background-color: #EDB74D;
    color: white;
}
.menu ul li.active{
    background-color: white ;
    color: #EDB74D;
}




.box{
    padding-top: 120px;
    text-align: center;
    font-family: 'Lily Script One';
    background-color: antiquewhite;
    background-image: url('../gambar/banner.jpg');
    background-size:cover;
}

.box h1{
    padding-bottom: 10px;
    font-size: 70px;
    color:white;
    
}
.box h5{
    font-size: 24px;
    color:white;
    padding-bottom: 40px;
}

.kotak{
    box-shadow: 0 0 0 5px white;
    padding: 70px;
    display: inline-block;
    color: white;
    background-color: rgba(241, 178, 96, 0.477);
    
    border-radius:50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;
}

.kotak ul{
    list-style: none;
}

.kotak ul li{
    width: 100%;
    height: auto; 

}

.kotak ul li label{
    font-size: 30px;
    width: 100%;
    height: auto;
}

.kotak ul li input{
    font-size: 28px;
    padding: 3px;
    width: 100%;
    height: auto;
    font-family: 'Lily Script One';
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 0 5px white;
    border: none;
    outline: none;
}

.kotak button{
    margin-top: 30px;
    padding: 10px;
    font-size: 24px;
    width: 50%;
    height: auto;
    font-family: 'Kanit';
    background-color: #e49a05;
    color: #fff;
    border-radius:90px;
    box-shadow: 0 0 0 3px white;
    border: none;
}

.kotak button:hover{
    background-color:antiquewhite;
    color:rgb(74, 60, 0);
}
.input_wrap .error_msg{ 
    color: white;
    text-align: center;
    font-size: 15px;
}



footer{
    padding: 40px 0;
    background-color: #EDB74D;
    color: rgb(0, 0, 0);
    text-align: center;
}

@media screen and (max-width: 768px) {
    .menu ul li{
        text-align: center;
        float: none;
    }
    .kotak ul li {
        width: 100%;
        float: none;
        margin-bottom: 20px;

    }
}